.checkoutProduct__removeButton {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  color: #111;
  border-color: #a88734 #9c7e31 #846a29 !important;
}

.checkoutProduct__removeButton:hover {
  background: #f0c14b !important;
}

.checkoutProduct__title {
  max-width: 80%;
}

.checkoutProduct__rating {
  color: #fcbb00;
}

@media screen and (max-width: 768px) {
  .checkoutProduct__title {
    max-width: 100%;
  }
}
